.card{
    overflow: hidden;
    width: 20vw;
    height: 40vh;
    border-radius: 50px;
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    &__title{
        flex:1;
        //background-color: blanchedalmond;
        border-bottom: 1px blue solid;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__gallery{
        flex:3;
        //background-color: red;
        border-bottom: 1px blue solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__opinion{
        flex:1;
        //background-color: blanchedalmond;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.slides{
    position: relative;
    width: 300%; //TODO give there a length of array with slides
    margin-left:200%;
    height: 100%;
    background-color: pink;
    display: block;
    display: flex;
    &__item{
        position: relative;
        height: 100%;
        width: 100%;
        background-color: #00ff00;
    &:nth-child(1){
            //opacity: 0;
            background-color: #e7f52a;
        }    
    &:nth-child(2){
        //opacity: 0;
        background-color: #e9644c;
    }    
    &:nth-child(3){
        //opacity: 0;
        background-color: #2236a5;
    }
    }
}

.button{
    position: absolute;
    margin-bottom: -10%;
    
}