.aboutNext{
    width: 100vw;
    height: 100vh;
    background-color: black;
    &__textWrapper{
    //    display: flex;
    //    flex-direction: column;
    //    justify-items: center;  
    position: relative;               
    // top: 50%;                         
    // transform: translate(0, -50%)       
    }
}

p{  
    position: relative;
    font-size: 7vw;
    padding: 20px 70px 20px;  
    opacity:0;
}
.aboutNext__textWrapper--color1, .aboutNext__textWrapper--color2{
    padding: 0 20px 0;
    margin-left: -20px;
    &:before{
        width: 45%;
        position: absolute;
        left: -15px;
        z-index: -11;
        content: '';
    }
}
.aboutNext__textWrapper--color1{
    position: relative;
    &:before{
        background-color: rgb(228, 129, 43);
        height: 100%;
        width: 101%;
        position: absolute;
        content: '';
    }
}

.aboutNext__textWrapper--color2{
    position: relative;
    &:before{
        width: 10%;
        background-color: #2de636;
        height: 100%;
        position: absolute;
        content: '';
    }
}
