.aboutNext{
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    &__textWrapper{
    //    display: flex;
    //    flex-direction: column;
    //    justify-items: center;  
    position: relative;               
    // top: 50%;                         
    // transform: translate(0, -50%)       
    }
    &__textWrapper{
        text-align: justify;
        p{ 
            background-color: black;
            position: relative;
            font-size: 7vw;
            padding: .5% 7%;  
            opacity:0;
            @media all and (max-width:1024px){
                max-width: 100vw;
              }
            @media all and (max-width:800px){
                font-size: 15vw;
            }
        }
    }
}


.aboutNext__textWrapper--color1, .aboutNext__textWrapper--color2{
    padding: 0 20px 0;
    margin-left: -20px;
    &:before{
        width: 45%;
        position: absolute;
        left: -15px;
        z-index: -11;
        content: '';
    }
}
.aboutNext__textWrapper--color1{
    position: relative;
    &:before{
        background-color: rgb(228, 129, 43);
        height: 100%;
        width: 101%;
        position: absolute;
        content: '';
    }
}

.aboutNext__textWrapper--color2{
    position: relative;
    &:before{
        width: 10%;
        background-color: #2de636;
        height: 100%;
        position: absolute;
        content: '';
    }
}
