* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //transition: all .2s linear;
    
  }
li{
      list-style-type: none;

}
.navigation{
    overflow: hidden;
    position: fixed;
    z-index: 1;
    top:5%;
    right:4%;
    display: flex;
    justify-content: space-between;
    width: 27%;
    color: white;
}

a{
  color: white;
  text-decoration: none;
}

.navigation__item {
  
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    top:10px;
    &:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      &:hover:after {
        display: block;
        width: calc(120%); 
        //transform: translateY(40px);
        left: -10%; 
      }
}



.navigation__item--block {
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    z-index: 100;
    //top: -10px;
    padding: 10px 10px;
    &:after {
    z-index: -1;     
    position: absolute;
    width: 200%;
    height: 200%;
    left: 0px;
    bottom: 0px;
    content: '';
    background: black;
    transition: all .8s;
      }
      &:hover:after {
         //height: 0%;
         transform: translate(0%, 100%); 
         //left: 0;

      }
}

