.contact{
    position: relative;
    width: 100vw;
    height: 100vh; 
    display: flex;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    &__header{
        margin-bottom: 10%;     
        font-size: 4em;
        position: relative;
    }
    &__form{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 30%;
        position: relative;
        &Part{
            font-size: 2vw;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            &Input{
                width: 40%;
                margin-left: 50px;
                border: 0;
                outline: 0;
                background: transparent;
                border-bottom: 1px solid black;
            }
        }
    }
    &__submit {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &Title{
            margin-right: 15px;
            font-size: 2em;
        }
        &Button {
            background-color: #2de636;
            border: none;
            color: black;
            padding: 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            border-radius: 50%;
        }
        &Teader{
            color: red;
        }
    }
      
}

form{
    display: flex;
    width: 60%;
    justify-content: space-between;
}



