.realization{
    position: relative;
    width: 100vw;
    height: 100vh; 
    display: flex;
    //background-color: #72CCA7;
    background-color: black;
    flex-direction: column;
    align-items: flex-end;
    //align-items: center;
    
    &__current{
        height: 80vh;
        width: 60vw;
        position: relative;
        display: flex;
        &:after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #000000;
            
        }
        &Text{
            width: 50%;
            height: 100%;
            //display: flex;
            //flex-direction: column;
            //justify-content: center;
            position: relative;
            top:20%;
            &Wrapper{
                position: absolute;
                background-color: #000000;
            }

            &Title{
                font-size: 3em;
                //background-color: #000000;
            }
            &Body{
                font-size: 1em;
                //background-color: #000000;
            }    
        }
        &ImageWrapper{
            width: 60%;
            height: 100%;
            //background-color: yellow;    
            position: relative;
        }
        &Image{
            position: absolute;
            width: 100%;
            height: 100%;
            img{
                max-width: 100%;
                max-height: 100%;
            }
        }

    }

    &__next{
        height: 25vh;
        width: 50vw;
        //background-color: chartreuse;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        &ImageWrapper{
            height: 20vh;
            width: 20vh;
            background-color: red;
            position: relative;
        }
        &Image{
            position: relative;
            width: 100%;
            height: 100%;
            img{
                max-height: 100%;
                max-width: 100%;
                position: absolute;
                //object-fit: cover;
            }
        }
        &Text{
            position: relative;
            &Wrapper{
                position: absolute;
                //background-color: #000000;
            }
            &Title{
                font-size: .8em;
                letter-spacing: 1.5px; 
            }
            &Body{
                font-size: 1.2em;
                background-color: #000000;
            }
        }
        &Button{
            height: 7vh;
            width: 7vh;
            border: solid 2px white;
            margin: auto;
            //width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            &Arrow{
                color: red;
            }
            &--prev{
                background: linear-gradient(to right, black 50%, white 50%) left;
                background-size: 200%;
                transition: .5s ease-out;
                border-top: solid 1px white;
                &:hover{
                    background-position: right;

                }
            }
            &--next{
                background: linear-gradient(to left, black 50%, white 50%) right;
                background-size: 200%;
                transition: .5s ease-out;
                border-bottom: solid 1px white;
                &:hover{
                    background-position: left;
                }
            }
        }
    }
}

.slide {
    position: absolute;
    font-size: 90px;
    font-weight: 700;
    color: rgba(255,255,255,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
  }