.realization {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.realization:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  top: 0;
}

.realization__current {
  height: 80vh;
  width: 80vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 1000px) {
  .realization__current {
    height: 80vh;
    width: 100vw;
  }
}

.realization__currentText {
  width: 50%;
  height: 100%;
  position: relative;
  top: 20%;
}

.realization__currentTextWrapper {
  position: absolute;
  background-color: #000000;
  width: 100%;
  height: 70%;
}

.realization__currentTextTitle {
  font-size: 3em;
  font-family: 'Oswald', sans-serif !important;
}

@media all and (max-width: 1000px) {
  .realization__currentTextTitle {
    color: white;
    position: relative;
    top: -12%;
    left: 15%;
    z-index: 9999;
  }
}

.realization__currentTextBody {
  margin-top: 2%;
  font-size: 1.1em;
  width: 70%;
  font-weight: 300;
}

@media all and (max-width: 1000px) {
  .realization__currentTextBody {
    display: none;
  }
}

.realization__currentImageWrapper {
  width: 60%;
  height: 100%;
  position: relative;
}

@media all and (max-width: 1000px) {
  .realization__currentImageWrapper {
    width: 100vw;
    position: absolute;
  }
}

.realization__currentImage {
  position: absolute;
  width: 100%;
  height: 100%;
}

.realization__currentImage img {
  max-width: 100%;
  max-height: 100%;
}

.realization__next {
  height: 25vh;
  width: 50.6vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 1000px) {
  .realization__next {
    width: 100%;
  }
}

.realization__nextImageWrapper {
  height: 20vh;
  width: 20vh;
  position: relative;
}

.realization__nextImage {
  position: relative;
  width: 100%;
  height: 100%;
}

.realization__nextImage img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
}

.realization__nextText {
  position: relative;
  width: 20vh;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.realization__nextTextWrapper {
  position: absolute;
  width: 100%;
}

.realization__nextTextTitle {
  width: 100%;
  font-size: .8em;
  letter-spacing: 1.5px;
  font-family: 'Oswald Regular 400', sans-serif;
  background-color: #000000;
  text-align: center;
}

.realization__nextTextBody {
  width: 100%;
  margin-top: 10px;
  font-size: medium;
  background-color: #000000;
  text-align: center;
}

.realization__nextButton {
  height: 7vh;
  width: 7vh;
  border: solid 2px white;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.realization__nextButtonArrow {
  color: #2de636;
}

.realization__nextButton--prev {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, black), color-stop(50%, white)) left;
  background: linear-gradient(to right, black 50%, white 50%) left;
  background-size: 200%;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
  border-top: solid 1px white;
}

.realization__nextButton--prev:hover {
  background-position: right;
}

.realization__nextButton--next {
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, black), color-stop(50%, white)) right;
  background: linear-gradient(to left, black 50%, white 50%) right;
  background-size: 200%;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
  border-bottom: solid 1px white;
}

.realization__nextButton--next:hover {
  background-position: left;
}

.slide {
  position: absolute;
  font-size: 90px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
/*# sourceMappingURL=Realizations.css.map */